
.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  text-align: center;
  color: rgb(79, 75, 75);
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url('https://wallpaperaccess.com/full/250769.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;

}


.blockquote {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  border: 2px solid #656464;
  border-radius: 8px;
  background-color: #eae4e4;
  max-width: 600px;
  min-height: 140px;
  padding: 10px;
  margin: 20px auto;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}


button.btn {
  margin-top: 20px; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none; 
}

button.btn:hover {
  background-color: #867c7c;
}


@media (max-width: 600px) {
  .quote-container {
      font-size: 20px; 
  }
  .blockquote {
      max-width: 90%; 
      margin: 10px auto; 
  }
  button.btn {
      padding: 8px 16px;
      font-size: 14px; 
  }
}
